@using Rebecca.BeWell.BlazorApp.Shared.Models
@rendermode InteractiveWebAssembly

<RadzenTemplateForm TItem="Appointment" Data="@model" Submit=@OnSubmit>
<div class="row" style="margin-bottom: 16px">
<div class="col-md-3">
            <RadzenLabel Text="Type" />
        </div>
        <div class="col">
            <RadzenDropDown Name="Types" Placeholder="Please Select" TValue="string" Data="model.Types" Change="@OnTypeChange" />
            <RadzenRequiredValidator Text="Title is required" Component="Types" />
        </div>
    </div>
    @if (model.SelectedType=="Activity")
    {
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Type" />
            </div>
            <div class="col">
                <RadzenDropDown Name="ActivityType" Placeholder="Please Select" TValue="string" Data="model.ActivityTypes" Change="@OnActivityTypeChange" />
                <RadzenRequiredValidator Text="Title is required" Component="ActivityType" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Text" />
            </div>
            <div class="col">
                <RadzenTextBox @bind-Value="@model.Text" Name="Text" />
                <RadzenRequiredValidator Text="Title is required" Component="Text" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Start" />
            </div>
            <div class="col">
                <RadzenDatePicker @bind-Value="@model.Start" Name="Start" ShowTime="true" />
                <RadzenRequiredValidator Text="Start is required" Component="Start" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="End" />
            </div>
            <div class="col">
                <RadzenDatePicker Name="End" @bind-Value="@model.End" ShowTime="true" />
                <RadzenRequiredValidator Component="End" Text="End is required" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col">
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Save" />
            </div>
        </div>
    }
    @if (model.SelectedType == "Nutrition")
    {
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Type" />
            </div>
            <div class="col">
                <RadzenDropDown Name="NutritionType" Placeholder="Please Select" TValue="string" Data="model.NutritionTypes" Change="@OnNutritionTypeChange" />
                <RadzenRequiredValidator Text="Title is required" Component="NutritionType" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Text" />
            </div>
            <div class="col">
                <RadzenTextBox @bind-Value="@model.Text" Name="Text" />
                <RadzenRequiredValidator Text="Title is required" Component="Text" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Start" />
            </div>
            <div class="col">
                <RadzenDatePicker @bind-Value="@model.Start" Name="Start" ShowTime="true" />
                <RadzenRequiredValidator Text="Start is required" Component="Start" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="End" />
            </div>
            <div class="col">
                <RadzenDatePicker Name="End" @bind-Value="@model.End" ShowTime="true" />
                <RadzenRequiredValidator Component="End" Text="End is required" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col">
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Save" />
            </div>
        </div>
    }
    @if (model.SelectedType == "Sleep")
    {
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Type" />
            </div>
            <div class="col">
                <RadzenDropDown Name="SleepType" Placeholder="Please Select" TValue="string" Data="model.SleepTypes" Change="@OnSleepTypeChange" />
                <RadzenRequiredValidator Text="Title is required" Component="SleepType" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Text" />
            </div>
            <div class="col">
                <RadzenTextBox @bind-Value="@model.Text" Name="Text" />
                <RadzenRequiredValidator Text="Title is required" Component="Text" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Start" />
            </div>
            <div class="col">
                <RadzenDatePicker @bind-Value="@model.Start" Name="Start" ShowTime="true" />
                <RadzenRequiredValidator Text="Start is required" Component="Start" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="End" />
            </div>
            <div class="col">
                <RadzenDatePicker Name="End" @bind-Value="@model.End" ShowTime="true" />
                <RadzenRequiredValidator Component="End" Text="End is required" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col">
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Save" />
            </div>
        </div>
    }
</RadzenTemplateForm>


